@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: $max-width;
    margin: 0 auto;
    color: $text-color;
    background-color: $white;
}

main {
    width: 100%;
    max-width: $max-width;
    margin: 50px auto;
    text-align: center;
}
.maintext-container {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    max-width: $max-width;
    line-height: 1.8;
    
}
.shootingstar-wrapper {
    text-align: left;
}
.highlight {
    color: $secondary-color;
}
h4 {
    color: $secondary-color;
    margin-bottom: 20px;
    
}
h1 {
    font-size: 18px;
}
.smalltext-wrapper {
    align-self: flex-end;
    text-align: left;
    font-size: 12px;
}
img {
    margin-top: 40px;
}
.worktext {
    font-size: 25px;
}
.about {
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: left;
    padding-top: 40px;
    max-width: $max-width;
    margin: 0 auto;
    
    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        color: rgb(162, 159, 159);
        font-size: 18px;
    
        .div {
            padding: 10px;
            background: $white;
            text-align: center;
            border-radius: 5px;

        }
    }
}
.awards {
    max-width: $max-width;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-top: 1px solid #ddd; 
    
}

    .award {
        display: flex;
        gap: 40px;
        align-items: flex-start;
        padding: 20px 0;
    }

        h4 {
        font-size: 30px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
        margin: 0;
        }
    
        .award-details {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 100px;
            align-items: center;
            padding: 10px 0;
        }

        p {
            margin: 5px 0;
            color: #666;
        }
      
        .category {
            font-weight: bold;
            color: #000;
        }

        .year {
            text-align: right;
            font-weight: bold;
            color: #000;
        }

.intro {
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: left;
    padding-top: 40px;
    max-width: $max-width;
    margin: 0 auto;
    line-height: 1.8;
}
h2 {
    font-size: 30px;
}
.detail-item {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 600px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;

    .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;

        .label {
            font-weight: bold;
            color: #333;
        }
        .value {
            color: #666;
            text-align: right;
        }
    }
}
.bigpicture {
    width: 100%;
}
.textbetween {
    display: flex;
    align-items: left;
    margin-top: 40px;
    max-width: $max-width;
    line-height: 1.8;
    font-size: 18px;
}
.treeimg {
    display: flex;
    justify-content: space-between;
}