@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: $max-width;
    margin: 0 auto;
    color: $text-color;
    background-color: $white;
}
main {
    width: 100%;
    max-width: $max-width;
    margin: 50px auto;
    text-align: center;
}
.maintext-container {
    display: grid;
    grid-template-columns: 70% 20%;
    align-items: center;
    max-width: $max-width;
    line-height: 1.8;
    
}
.shootingstar-wrapper {
    text-align: left;
}
.highlight {
    color: $secondary-color;
}
.head {
    color: $secondary-color;
    margin-bottom: 20px; 
    font-size: 18px;
}

h1 {
    font-size: 30px;
    letter-spacing: 2px;
}
.smalltext-wrapper {
    align-self: flex-end;
    text-align: left;
    font-size: 15px;  
}

img {
    margin-top: 80px;
}
.worktext {
    font-size: 25px;
}
.about {
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: left;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: $max-width;
    margin: 0 auto;
    
    .worktext {
    color: $text-color;
    }

    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        color: $text-color2;
        font-size: 15px;
    
        .div {
            padding: 10px;
            background: $white;
            text-align: center;
            border-radius: 5px;

        }
    }
}
.awards {
    max-width: $max-width;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-top: 1px solid #ddd; 
    
}

    .award {
        display: flex;
        gap: 40px;
        align-items: flex-start;
        padding: 20px 0;
    }

        h4 {
        font-size: 30px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
        margin: 0;
        }
    
        .award-details {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 100px;
            align-items: center;
            padding: 10px 0;
        }

        p {
            margin: 5px 0;
            color: #666;
        }
      
        .category {
            font-weight: bold;
            color: #000;
        }

        .year {
            text-align: right;
            font-weight: bold;
            color: #000;
        }

.intro {
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: left;
    padding-top: 40px;
    max-width: $max-width;
    margin: 0 auto;
    line-height: 1.8;
}
h2 {
    font-size: 30px;
    padding-bottom: 30px;
}
.detail-item {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 600px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;

    .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;

        .label {
            font-weight: bold;
            color: #333;
        }
        .value {
            color: #666;
            text-align: right;
        }
    }
}
.bigpicture {
    width: 100%;
    max-width: $max-width;
}

.textbetween {
    display: flex;
    align-items: left;
    margin-top: 40px;
    margin-bottom: 10px;
    max-width: $max-width;
    line-height: 1.8;
    font-size: 18px;
    color: $text-color;
}

.treeimg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.intro-contact {
    display: grid;
    grid-template-columns: 60% 20%;
    text-align: left;
    padding-top: 40px;
    max-width: $max-width;
    margin: 0 auto;
    line-height: 1.8;
}

.contact-form {
    margin-top: 10px;
    text-align: left;
    line-height: 1.8;
    width: 400px;

}
.contact-form label {
    color: #979393;
    font-size: 15px;
}
.contact-form input {
    border: none;
    outline: none;
    border-bottom: 1px solid #c2baba;
    width: 400px;
}
.btn {
    display: flex;
    background-color: $secondary-color;
    color: $white;
    margin-top: 30px;
    padding: 10px;
    padding-left: 30px;
    border: none;
    cursor: pointer;
    width: 110px;
    text-decoration: none;
    font-size: 15px;
    

    &:hover {
        background-color: #837e7e;
    }
    
}
.map {
    padding-top: 50px;
    margin-bottom: 30px;
}